@import "reset";
@import "mixins";

#header {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--img {
      padding: 180px 0;
    }

    h1 {
      position: absolute;
      margin-top: 220px;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      color: #000000;
    }

    p {
      position: absolute;
      margin-top: 300px;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: #000000;
    }
  }
}

#footer {
  .footer {
    &--general {
      h1{
        margin-left: 30px;
        padding: 20px;
      }
      &__title {
        button{
          background: #181717;
          border-radius: 5.39259px;
          width:380px;
          height: 40px;
          font-weight: 500;
          font-size: 13.4815px;
          line-height: 16px;
          color: #FFFFFF;
          margin-bottom: 40px;

        }
        &--search {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--icons {
              & .fa-filter {
                padding: 10px 15px;
                font-size: 22px;
                background: #D6D6D6;
                border-radius: 4px;
                margin-left: 12px;
              }
            }

            .fa-magnifying-glass {
              position: absolute;
              margin-left: 290px;
            }

            input {
              position: relative;
              width: 291px;
              height: 42px;
              background: #D6D6D6;
              border-radius: 4px;
              padding: 0 10px;
              margin: 35px 0
            }
          }
        }

        &--text {
          display: flex;
          align-items: center;
          h4{
            margin-left: 100px;
          }

          &__img {
            padding: 0 140px;
          }
        }
        .footer--general__title--search__block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 373px;
          height: 100px;
          background: #F6F6F6;
          border: 1px solid #C7C7C7;
          border-radius: 9px;
          margin: 5px 0px 5px 0px;

          &--text{
            h2{
              font-weight: 700;
              font-size: 12px;
              color: #000000;
              margin-right: 65px;
            }
            p{
              font-weight: 300;
              font-size: 12px;
              color: #000000;
            }

          }
          &--star{
             p{
               font-weight: 200 ;
               font-size: 12px;
               line-height: 22px;
               text-align: center;
               letter-spacing: -0.408px;
               color: #000000;
               margin-right: 35px;
             }
            img{
              padding: 15px 0;
            }
          }
        }
      }
      hr{
        position: absolute;
        width: 365px;
        border: 1px solid #BFBFBF;
        left: 1px;
        top: 89px;
      }


    }
  }
}
