@import "reset";
@import "mixins";

#header {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--img {
      padding: 180px 0;
    }

    h1 {
      position: absolute;
      margin-top: 220px;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      color: #000000;
      border: 1px solid #FFFFFF;
    }

    p {
      position: absolute;
      margin-top: 300px;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: #000000;
    }
  }
}

#hero {
  .hero {
    &--title {
      &__tabs {
        &--btn {
          opacity: 0;
        }

        &--btn2 {
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          color: rgba(0, 92, 145, 0.59);
        }

        label {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__tab {
        &--icons {
          button {
            width: 344px;
            height: 40px;
            font-weight: 500;
            font-size: 13.4815px;
            color: #FFFFFF;
            background: #181717;
            border-radius: 5.39259px;
            transition: .3s;
            margin: 0 19px;
            cursor: pointer;

            &:hover {
              transition: .3s;
              transform: scale(1.03);
            }
          }

          &__img {
            padding: 10px 150px;
          }

          &__swiper {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        &--text {
          opacity: 0;
        }

        input {
          opacity: 0;
        }
      }

      &__elements {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &--btn {
          button {
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            border: 1px solid #000000;
            border-radius: 5.39259px;
            font-weight: 500;
            font-size: 13.4815px;
            color: #000000;
            width: 170px;
            height: 30px;
            align-items: center;
            justify-content: center;
            transition: .3s;
            margin: 20px 0;
            cursor: pointer;

            &:hover {
              transition: .3s;
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

#See\ more:checked ~ .hero--title__tab--images {
  opacity: 0;
  transition: .4s
}

#All:checked ~ .hero--title__tab--img {
  opacity: 0;
  transition: .4s
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
}

.about--modal {
  display: none;

  &__block {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--square {
      width: 1170px;
      height: 603px;
      background: rgb(255, 255, 255);
      border: 2px solid rgba(255, 255, 255, 0.4);
      border-radius: 38px;
      position: relative;
      overflow-y: scroll;
      animation: nod .5s alternate linear;

      @keyframes nod {
        0% {
          transform: scale(0);
        }
        25% {
          transform: scale(0.3);

        }
        50% {
          transform: scale(0.6);

        }
        75% {
          transform: scale(0.9);

        }
        90% {
          transform: scale(1.2);

        }
        100% {
          transform: scale(1);

        }
      }

      p {
        color: #000000;
        font-weight: 400;
        font-size: 18px;
        padding: 20px 40px;
      }

      &__close {
        color: red;
        cursor: pointer;
        font-size: 30px;
        font-family: sans-serif;
        position: absolute;
        right: 15px;
        height: 15px;

        &--search {
          label {
            display: flex;
            flex-direction: column;
            padding: 80px 60px;

            input {
              width: 491px;
              height: 58px;
              background: #D6D6D6;
              border-radius: 4px;
              margin: 20px 0;
              border: none;
              padding: 0 30px;
            }
          }
        }
      }
    }
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.fancybox img {
  width: 100%;
}
