@import "reset";
@import "mixins";

#header {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--img {
      padding: 180px 0;
    }

    h1 {
      position: absolute;
      margin-top: 220px;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      color: #000000;
      border: 1px solid #FFFFFF;
    }

    p {
      position: absolute;
      margin-top: 300px;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: #000000;
    }
  }
}