
body {
  font-family: 'Montserrat', sans-serif;
}

#footer {
  .footer {
    &--general {
      &__blocks {
        display: flex;
        width: 362px;
        height: 601px;
        left: 40px;
        top: 137px;
        background: #F6F6F6;
        border: 1px solid #C7C7C7;
        border-radius: 9px;

        h4 {
          width: 188px;
          height: 22px;
          top: 340px;
          font-family: 'Montserrat', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          text-align: center;
          color: #000000;
          margin-left: 80px;


        }

        p {
          font-weight: 300;
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          color: #000000;
        }

        &--develop {
          p {
            font-weight: 300;
            font-size: 12px;
            text-align: center;
          }

          &__text {
            .footer--general__title--search__block {
              display: flex;
              align-items: center;
              justify-content: space-between;
              position: relative;
              width: 361px;
              height: 100px;
              background: linear-gradient(0deg, #C7C7C7, #C7C7C7),
              linear-gradient(0deg, #F6F6F6, #F6F6F6);
              border-radius: 9px;
              margin: 5px 0 5px 0;

              &--btn {
                padding: 1px 10px;
              }
            }

            button {
              width: 360px;
              background: #181717;
              border-radius: 5.39259px;
              font-weight: 500;
              font-size: 13px;
              height: 40px;
              color: #FFFFFF;
            }

            h2 {
              font-weight: 700;
              font-size: 12px;
              color: #000000;
              margin-right: 65px;
              padding: 5px 0;
            }

            p {
              font-weight: 300;
              font-size: 12px;
              color: #000000;
            }

            h1 {
              font-weight: 600;
              font-size: 14px;
              color: #000000;
              padding: 0 10px;

            }

            p {
              font-family: 'Montserrat', serif;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              letter-spacing: -0.408px;
              margin-left: -5px;
              color: #000000;
            }

            &--reviews {
              h2 {
                font-weight: 600;
                font-size: 12px;
                color: #000000;
                padding: 5px 20px;
              }
            }

            &--titles {
              display: flex;
              align-items: center;

              a {
                margin-left: 40%;
              }
              h2 {
                padding: 0 10px;
              }
            }

            &--block {
              width: 227px;
              height: 76px;
              border-radius: 5px;
              background: aquamarine;

              .fons {
                display: flex;
                align-items: center;

                .block-fon {
                  display: flex;
                  align-items: center;

                  h5 {
                    font-weight: 600;
                    font-size: 9px;
                    width: 60px;
                    letter-spacing: -0.408px;
                    color: #000000;
                  }
                }

                .block-fon img {
                  margin-left: -100px;
                }
              }
            }

            &--messages {
              width: 361px;
              height: 76px;
              background: rgba(0, 0, 0, 0.44);
              border-radius: 10px;


              &__images {
                img {
                  position: absolute;
                  right: 50px;
                }
              }

              h2 {
                font-weight: 600;
                font-size: 9px;
                color: #000000;
              }


            }

          }

          &__item {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 12px 20px;
            margin-left: 1px;
          }

          hr {
            width: 358px;
            height: 0;
            left: 42px;
            top: 483px;
            border: 1px solid #BFBFBF;
            margin: 10px;
          }

          h4 {
            font-family: 'Montserrat', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            margin: 20px 90px;
            letter-spacing: -0.408px;
            color: #000000;
          }
          &__text {
            &--btn  {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        &--redux {
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }

      &__texts {

      }

      &--share {
        align-items: center;
        width: 93px;
        height: 59px;
        left: 63px;
        top: 393px;
        background: rgba(188, 229, 252, 0.47);
        border-radius: 10px;
        text-align: center;
        padding-top: 25px;
      }

      h6 {
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        color: #000000;
      }

      .fa-share-nodes {
        color: red;
      }
    }
  }
}

